*{
	margin: 0 auto;
	padding:0 auto;
}
.header{
	width: 1530px;
	height: 700px;
	background-image: url(../images/789.jpg);
	background-size: 1530px 700px;
	background-repeat: no-repeat;
}
.header:hover{
	background-image: url(../images/4565.jpg);
}
.header .nav1{
	position: relative;
	left: 100px;
	top: 70px;
	width: 100px;
	height: 20px;
	margin-left: 100px;
}
.nav1 a{
	font-size: 20px;
	font-family: '宋体';
	text-decoration: none;
	color: white;
}
.nav1 a:hover{
	color: yellow;
}
.nav{
	width: 1530px;
	height: 300px;
}
.nav ul{
	list-style: none;
	margin-right: 140px;
	padding-top: 70px
}
.nav ul li{
	float: right;
	margin-right: 30px;
}
.nav ul li a{
	font-size: 20px;
	font-family: '宋体';
	text-decoration: none;
	color: white;
}
.nav ul li a:hover{
	color:black;
}
#li1{
	color: #f9f603;
}
.banner{
	width: 1530px;
	height: 400px
}
.logo{
	width: 600px;
	height: 100px;
}
.banner .logo{
	position: relative;
	top: -70px;
}
.banner .logo p{
	font-size: 110px;
	font-family: '华文行楷';
	color: white;
	opacity: 0.5;
}
.banner .logo .p1{
	font-family: '华文行楷';
    font-size: 21px;
    color: white;
}
.banner .search input[type="text"]{
	width: 420px;
	height: 8px;
	padding-top: 20px;
	opacity: 0.4;
}
.banner .search input[type="button"]{
	margin-top: 20px;
	margin-left: -5px;
	width: 42px;
	height: 33px;
	background-image: url(../images/ss.gif);
	opacity: 0.4;
}
.banner .search a{
	font-family: '宋体';
	position:relative;
	text-decoration: none;
	left: -100px;
	color: white;
	font-weight: bold;
	opacity: 0.5;
}
.banner .search a:hover{
	color: black;
}
.content{
	width: 1005px;
	height: 680px;
}
.content .top{
	width: 1005px;
	height: 180px;
	margin-top: 80px;
}
.content .top .p{
	font-size: 36px;
	font-family: '宋体'；
	margin-button:20px;
}
.content .top .p1{
	font-size: 15px;
	font-family: '楷体'
}
.content .middle{
	width: 1530px;
	height: 500px;
	margin-left: -250px;
	background-image: url(../images/bg.jpg);
	background-size: 1530px 500px;
	opacity: 0.8;
}
.content .button{
	width: 1005px;
	height: 600px;
}
.content .button .button_1{
	width: 1005px;
	height: 222px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.content .button .button_1 .button_11{
	width: 333px;
	height: 222px;
	float: left;
}
.content .button .button_1 .button_11 img{
	opacity: 1;
	border-radius: 10px;
}
.content .button .button_1 .button_11 img:hover{
	border: 1px solid #333333;
}
.content .button .button_1 .d1{
		width: 600px;
		height: 222px;
		float: left;
		margin-left: 30px;
}
.content .button .button_1 .d1 .p{
	margin-top: 30px;
	font-size: 30px;
	font-family: '华文新魏';
	font-weight: bold;
}
.content .button .button_1 .d1 .p1{
	margin-top: 2px;
	font-size: 16px;
	font-family: '华文行楷';
	font-weight: normal;
}
.content .button .button_2{
	width: 1530px;
	height: 70px;
	margin-left: -270px;
	background-color: gray;
	opacity: 0.4;
}
.content .button .button_3{
	width: 1005px;
	height: 222px;
	margin-bottom: 2px;
}
.content .button .button_2{
	width: 1530px;
	height: 70px;
	margin-left: -270px;
	background-color: gray;
	opacity: 0.4;
}
.content .button .button_3{
	width: 1005px;
	height: 222px;
}
.footer{
	width: 1530px;
	height: 150px;
	margin-top: 290px;
	margin-left: -270px;

}
.footer .footer_1{
	width: 1530px;
	height: 80px;
}
.footer .footer_1 ul{
	list-style: none;
	margin-left: 400px
}
.footer .footer_1 ul li{
	float: left;
	margin-left: 30px;
	font-size: 18px;
	font-family: '宋体'
}
.footer .footer_2{
	width: 1530px;
	height: 70px
}
.footer .footer_2 p{
	text-align: center;
	font-size: 15px;
	font-family: '宋体';
	margin-top: -40px;
}
